.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  background-color: #000;
  z-index: 50;
}

.modal-container {
  position: absolute;
  top: 3rem;
  max-width: 30rem;
  max-height: 20rem;
  width: 80%;
  height: 100%;
  padding: 1rem;
  background-color: #FFF;
  z-index: 60;
}

.marker-btn-container {
  gap: 0.6rem;
}