.btn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.45rem;
  text-transform: uppercase;
  padding: 0.4rem;
}

.btn-primary {
  background-color: var(--purple);
  color: #FFF;
}

.btn-secondary {
  color: var(--purple);
  background-color: #FFF;
  border: 1px var(--purple) solid;
}

.btn:hover {
  opacity: 0.8;
}

.add-location-btn {
  width:100%;
}

.leaflet-popup-content {
  margin: 0.2rem;
}