.context-menu-container {
  position: absolute;
  width: 8rem;
  height: 8rem;
  color: #FFF;
  background-color: var(--grey-dark);
  z-index: 99;
  border-radius: 0.3rem;
}

.add-location-btn {
  background-color: #4310b8;
  color: #FFF;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.45rem;
  width:100%;
  text-transform: uppercase;
}

.add-location-btn:hover {
  opacity: 0.8;
}

.leaflet-popup-content {
  margin: 0.2rem;
}