@import '/src/styles/modal.css';
@import '/src/styles/utils.css';
@import '/src/styles/map.css';
@import '/src/styles/ui.css';

/* TODO: divide file */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--grey-light);
  
  /* variables */
  /* colors */
  --grey-light: #c4c4c4;
  --grey-dark: #383535;
  --purple: #563c94;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 20rem;
  width: 100%;
}
